.name {
  font-weight: 600;
}

.profesion {
  font-size: x-small;
}

.content-testi {
  background-color: #FFDE54;
  border-radius: 10px;
  max-height: 20%;
}

.testimoni-container {
  height: 100vh;
  margin-top: 200px;
}